.emoji {
    position: absolute;
}

.reaction {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    background: #EA5665;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.reaction:hover {
    background: #444444;
    border-radius: 4px;
    transition: all 0.25s ease-in-out;
    cursor: initial;
    padding: 12px 32px;
    width: initial;
    height: initial;
}

.reaction:hover .comment {
    visibility: visible;
    transition: all 0.25s ease-in-out;
}

.comment {
    visibility: hidden;
}