.reactionForm {
    padding: 24px;
    background: #444444;
    position: absolute;
    border-radius: 4px;
    border: 1px solid #555;
    display: flex;
    flex-direction: column;
}

.label {
    margin-bottom: 12px;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    height: 20px;
}

.submitButton {
    padding: 4px 8px;
    margin-left: 8px;
}

.emojiReactBoard {
    display: flex;
    margin-top: 16px;
    gap: 16px;
}

.emojiButton {
    cursor: pointer;
}